<%= form_tag find_path, :method => :get do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search Near", :name => nil %>
  </p>
<% end %>

<table>
  <thead>
    <tr>
      <th>Image url</th>
      <th>Date found</th>
      <th>Tags</th>

    </tr>
  </thead>

  <tbody>
    <% @instagram_arts.each do |instagram_art| %>
      <tr>
        <td><%= instagram_art.image_url %></td>
        <td><%= instagram_art.date_found %></td>
        <td><%= instagram_art.tags %></td>

      </tr>
    <% end %>
  </tbody>
</table>