<%= form_tag find_path, :method => :get do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <a href="#" class="GP_get_location">Get Current Location</a>
    <%= submit_tag "Search Near", :name => nil %>
  </p>
<% end %>


<% if @instagram_arts != nil %>

  <h3>Results for <%= params[:search] %>(<%= @result_count %> within 10 miles)</h3>

  <%= paginate @instagram_arts %>

  <table>
    <thead>
      <tr>
        <th>Image url</th>
        <th>Tags</th>
        <th>Distance</th>
      </tr>
    </thead>
    <tbody>
      <script>
        var geojson = [
          <% @instagram_arts.each do |instagram_art| %>
            <% art_coordinates = [instagram_art.latitude, instagram_art.longitude] %>
            <% distance_apart = Geocoder::Calculations.distance_between(art_coordinates, @result_coordinates) %>
            {
              "type": "Feature",
              "geometry": {
                "type": "Point",
                "coordinates": [<%= instagram_art.latitude %>, <%= instagram_art.longitude %>]
              },
              "properties": {
                "title": "<%= image_tag(instagram_art.image_url, {:class => 'small-image'}) %>",
                "description": "<%= instagram_art.tags %>"
              }
            },
          <% end %>
        ];
      </script>
    </tbody>
  </table>

  <%= paginate @instagram_arts %>

<% end %>
