<%= form_tag find_path, :method => :get do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search Near", :name => nil %>
  </p>
<% end %>


<% if @instagram_arts != nil %>
  <h3>Results for <%= params[:search] %>(<%= @instagram_arts.count(:all) %>)</h3>
  <table>
    <thead>
      <tr>
        <th>Image url</th>
        <th>Tags</th>
        <th>Distance</th>
      </tr>
    </thead>
    <tbody>

    </tbody>
  </table>
<% end %>