<%= form_tag find_path, :method => :get do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search Near", :name => nil %>
  </p>
<% end %>


<% if @instagram_arts != nil %>
<table>
  <thead>
    <tr>
      <th>Image url</th>
      <th>Date found</th>
      <th>Tags</th>
      <th>Distance</th>

    </tr>
  </thead>
  <tbody>
    <% @instagram_arts.each do |instagram_art| %>
      <% art_coordinates = [instagram_art.latitude, instagram_art.longitude] %>
      <tr>
        <td><%= instagram_art.image_url %></td>
        <td><%= instagram_art.date_found %></td>
        <td><%= instagram_art.tags %></td>
        <td><%= Geocoder::Calculations.distance_between(art_coordinates, @result_coordinates) %> mi</td>

      </tr>
    <% end %>
  </tbody>
</table>
<% end %>