<%= form_tag find_path, :method => :get do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search Near", :name => nil %>
  </p>
<% end %>


<% if @instagram_arts != nil %>
  <h3>Results for <%= params[:search] %>(<%= @instagram_arts.count(:all) %>)</h3>

  <table>
    <thead>
      <tr>
        <th>Image url</th>
        <th>Tags</th>
        <th>Distance</th>
      </tr>
    </thead>
    <tbody>
      <% @instagram_arts.each do |instagram_art| %>
        <% art_coordinates = [instagram_art.latitude, instagram_art.longitude] %>
        <% distance_apart = Geocoder::Calculations.distance_between(art_coordinates, @result_coordinates) %>
        <tr>
          <td>
            <%= link_to image_tag(instagram_art.image_url, {:class => 'small-image'}), instagram_art_path(instagram_art) %>
          </td>
          <td><%= instagram_art.tags %></td>
          <td><%= distance_apart.round(2) %> mi</td>
        </tr>
      <% end %>
    </tbody>
  </table>
  
  <%= paginate @instagram_arts %>

<% end %>
