<div class="row h10"></div>
<div class="large-7 editable-content column large-centered">
  <div class="row">
    <div class="large-12 column text-center">
      <%= image_tag @instagram_arts.image_url, alt: @instagram_arts.tags %>
    </div>
  </div>
  <div class="row h10"></div>
  <div class="page-button-wrap">
    <%= link_to "<", instagram_art_path(:id => @instagram_arts.id-1), {:class => 'tiny secondary button round'} %>
    <%= link_to ">", instagram_art_path(:id => @instagram_arts.id+1), {:class => 'tiny secondary button round button-right'} %>
  </div>
  <div class="row h10"></div>
  <% if @instagram_arts.latitude != nil %>
    <div class="row">
      <div class="large-8 column">
        <div id="map-small"></div>
      </div>
      <div class="large-4 column">
        <p>
          <strong>Location name:</strong>
          <%= @instagram_arts.location_name %>
        </p>
        <p>
          <strong>Lat: </strong><%= @instagram_arts.latitude %><br>
          <strong>Lon: </strong><%= @instagram_arts.longitude %>
        </p>
        <p>
          <%= @instagram_arts.tags %>
        </p>
      </div>
    </div>
  <% end %>
  <div class="row h10"></div>
  <div class="row">
    <%= image_tag @instagram_arts.user_avatar %>
    <h1 class="inline-block">
      <%= @instagram_arts.user_name %>
    </h1>
  </div>
  <div class="row">
    <div class="large-12 column">
      <h3><%= @instagram_arts.caption %></h3>
    </div>
  </div>
</div>

<% if(@instagram_arts.latitude != nil) %>
  <%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@instagram_arts.latitude}%2C#{@instagram_arts.longitude}" %>

  <h3>Nearby locations (<%= @instagram_arts.nearbys.count(:all) %>)</h3>
  <ul>
  <% for instagram_arts in @instagram_arts.nearbys(10) %>
    <li><%= link_to instagram_arts.address, instagram_arts %> (<%= instagram_arts.distance.round(2) %> miles)</li>
  <% end %>
  </ul>
<% end %>
