  <div class="content-wrap white-bg">
    <div class="image-wrap iphone text-center ">
      <div class="hero-modal">
        <div class="row ">
          <div class="column large-10 large-centered">
            <h1 class="no-marg">Public Art is here!</h1><br>
              <%= link_to "http://a.lkb.cc/downloadpublicart", :class=>"no-space button small success" do %>
                Download now
              <% end %>
              <%= render 'layouts/videodemo' %>
            <p>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <p></p>
  <% if !params.has_key?(:search) %>
    <%= form_tag find_path, :method => :get do %>
      <div class="row">
          <%= text_field_tag :search, params[:search], placeholder: 'Enter location here', :class => 'large-12 column' %>
      </div>
      <div class="row">
        <a href="#" class="button large-12 GP_get_location button column">Get Current Location</a>
      </div>
      <div class="row">
          <%= submit_tag "Search", :name => nil, :class => 'alert button large-12 column' %>
      </div>
    <% end %>
  <% end %>
  <p></p>
  <%= render 'layouts/how_it_works' %>
  <p></p>
  <%= render 'layouts/basics' %>
  <p></p>
  <%= render 'layouts/opensource' %>


