  <div class="content-wrap white-bg">
    <div class="image-wrap iphone text-center ">
      <div class="hero-modal">
        <div class="row ">
          <div class="column large-10 large-centered">
            <h1 class="no-marg">Public Art is here!</h1><br>
              <%= link_to "http://a.lkb.cc/downloadpublicart", :class=>"no-space button small success" do %>
                Download now
              <% end %>
              <%= render 'layouts/videodemo' %>
            <p>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <p></p>
  <%= render 'layouts/basics' %>
  <p></p>
  <%= render 'results/search_form' %>
  <p></p>
  <%= render 'layouts/opensource' %>
  <p></p>
  <%= render 'modules/how_it_works' %>
  <p></p>


