<div class="row">
  <div class="large-9 large-centered medium-10 medium-centered">

  <h1>A big thank you to:</h1>

  <p>This project has been a labor of love. In the process, many people have been hugely supportive and downright helpful. </p>

  <h2>Thank you goes out to you.</h2>

  <ul class="large-block-grid-4 medium-block-grid-3 small-block-grid-1">
    <%= thanks_block("Orbital and company", "https://twitter.com/orbitalnyc", "for direction and advice") %>
    <%= thanks_block("Greg Barbosa", "https://twitter.com/gregbarbosa", "for iOS troubleshooting") %>
    <%= thanks_block("Laughing Squid", "http://laughingsquid.com", "for the blog post") %>
    <%= thanks_block("The Future Journalism Project", "http://thefjp.org", "for the coverage") %>
    <%= thanks_block("Creative Mornings", "http://creativemornings.com", "for giving us time to pitch") %>
    <%= thanks_block("Nasmo", "http://nasmo.com", "for the product development session") %>
  </ul>
  </div>
</div>
