<h1>Listing accesskeys</h1>

<table>
  <thead>
    <tr>
      <th>Client</th>
      <th>Client secret</th>
      <th>Callback url</th>
      <th>Source url</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @accesskeys.each do |accesskey| %>
      <tr>
        <td><%= accesskey.client_id %></td>
        <td><%= accesskey.client_secret %></td>
        <td><%= accesskey.callback_url %></td>
        <td><%= accesskey.source_url %></td>
        <td><%= link_to 'Show', accesskey %></td>
        <td><%= link_to 'Edit', edit_accesskey_path(accesskey) %></td>
        <td><%= link_to 'Destroy', accesskey, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Accesskey', new_accesskey_path %>
