<% if(@graffiti.image_url != nil) %>
  <% @background_image = @graffiti.image_url %>
<% else %>
  <% @background_image = @graffiti.images %>
<% end %>

<% if @background_image != nil %>
  <div class="large-12 hero-image-slice text-center" style="background-repeat: no-repeat; background-position: center center; background-image: url('<%= @background_image %>'); ">
    <%= image_tag @background_image, :style=>'visibility: hidden;' %>
  </div>
<% end %>
<hr style="margin-top:0px; padding-top: 0px;">
<div class="row">
  <div class="large-6 column">
    <div>
      <% if @location != nil %>
        <%= image_tag "http://maps.google.com/maps/api/staticmap?size=600x300&sensor=false&zoom=16&markers=#{@graffiti.latitude}%2C#{@graffiti.longitude}" %>
      <% end %>
    </div>
    <h3>Description</h3>
    <p>
      <%= @graffiti.caption %>
    </p>
    <% if @graffiti.user_name != nil %>
    Source: <%= @graffiti.user_name %>
    <% end %>
  </div>
  <div class="large-6 column">
    <h3>Comments</h3>
    <%#= render "comments/comments" %>
    <%#= render "comments/form" %>
  </div>
</div>
