<% current_user = nil %>

  <div id="topnavwrapper">
    <div class="">
      <nav class="top-bar" data-topbar>
        <ul class="title-area">
          <li class="name">
            <h1><%= link_to root_path do %>
              <b>
                <%= render 'layouts/logo_small' %>
              </b>
            <% end %></h1>
          </li>
          <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
        </ul>
        <section class="top-bar-section">
          <!-- Left Nav Section -->
          <% if current_user != nil %>
            <div class="search-form-width column">
              <form class="">
                <input type="text" id="right-label" placeholder="">
              </form>
            </div>
          <% end %>
          <ul class="left">


          </ul>
          <ul class="right">
            <% if signed_in? %>
              <li class="no-span login">
                <%= link_to edit_user_registration_path, :class=>'no-right-pad' do %>
                  <span>Profile</span>
                <% end %>
              </li>
              <li class="no-span login">
                <%= link_to destroy_user_session_path, method: "delete" do %>
                  <span>Logout</span>
                <% end %>
              </li>
            <% else %>
              <li class="no-span login">
                <%= link_to about_path, :class=>'no-right-pad' do %>
                  <span>About</span>
                <% end %>
              </li>
              <li class="no-span login">
                <%= link_to new_user_session_path, :class=>'no-right-pad' do %>
                  <span>Sign In</span>
                <% end %>
              </li>
              <li class="no-span login no-right-pad">
                <%#= link_to new_user_registration_path, :class=>'no-right-pad' do %>
                <%= link_to '#', :class=>'upload-trigger top-notice upload-notice-nav', :data=>{:reveal_id => "myModal"} do %>
                  <span>Sign Up</span>
                <% end %>
              </li>
            <% end %>
          </ul>
        </section>
      </nav>
    </div>
    <% if current_user != nil %>
    <div class="">
      <nav class="top-bar" data-topbar>
        <section class="top-bar-section">
          <!-- Left Nav Section -->
          <ul class="">
            <% if !current_page?(root_url) %>
              <li>
                <%= link_to root_path do %>
                  Home
                <% end %>
              </li>
            <% end %>
            <%= render 'layouts/nav_links' %>
          </ul>
        </section>
      </nav>
    </div>
    <% end %>
  </div>
