<!DOCTYPE html>
<html>
<head>

  <%= render 'layouts/meta_data' %>
  <% if !content_for?(:is_ios) %>
    <%#= stylesheet_link_tag "application" %>
  <% end %>

</head>
<body>

<% if !content_for?(:is_ios) %>
  <%#= render 'layouts/topnav' %>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
<% end %>

<%= yield %>

  <%= render 'layouts/google_analytics' %>

</body>
</html>
