<!DOCTYPE html>
<html>
<head>
  <% if !content_for?(:is_ios) %>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <% end %>

  <%= render 'layouts/meta_data' %>
</head>
<body>

<% if !content_for?(:is_ios) %>
  <%= render 'layouts/topnav' %>
<% end %>

<div class="body-to">
  <% if !content_for?(:is_ios) %>
    <div class="notice-bar large-12 medium-12">
      <% flash.each do |name, msg| %>
        <% if msg.class == Array %>
          <% msg.each do |message| %>
            <div data-alert class="alert-box info radius">
              <%= content_tag :div, message, :id => "flash_#{name}" %>
              <a href="#" class="close">&times;</a>
            </div>
          <% end %>
        <% else %>
          <div data-alert class="alert-box info radius">
            <%= content_tag :div, msg, :id => "flash_#{name}" %>
            <a href="#" class="close">&times;</a>
          </div>
        <% end %>
      <% end %>
    </div>

  <% end %>
  <%= yield %>

  <% if !content_for?(:is_ios) %>
  <div class="text-center">
    <dl class="sub-nav inline-block">
      <dd><%= link_to 'New Public Art Foundation', 'http://newpublicartfoundation.com' %></dd>
      <dd><%= link_to 'Thanks', thanks_path %></dd>
      <dd><%= link_to 'Contact', 'http://www.rememberlenny.com' %></dd>
      <dd><%= link_to 'Privacy', privacy_path %></dd>
    </dl>
  </div>
  <% end %>

</div>
<%= render 'layouts/google_analytics' %>
</body>
</html>
