<!DOCTYPE html>
<html>
<head>

  <%= render 'layouts/meta_data' %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/> <!--320-->
  <% if !content_for?(:is_ios) %>
    <%= stylesheet_link_tag "application" %>
  <% end %>
</head>
<body>

<% if !content_for?(:is_ios) %>
  <%= render 'layouts/topnav' %>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
<% end %>

<%= yield %>

  <%= render 'layouts/google_analytics' %>

</body>
</html>
